In [2]:
import pandas as pd
df = pd.read_csv(r"C:\tekworks\transactions.csv")
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [15]:
#1.what is the total sales amount across all transations
total_sales=df["t_amt"].sum()
print("total_sales amount",total_sales)

total_sales amount 5110820.54

In [ ]:
#2.which month had the highest total transaction amount
df["t_date"] = pd.to_datetime(df["t_date"], format="%m-%d-%Y")
df.groupby(df["t_date"].dt.month_name())["t_amt"].sum().idxmax()

'March'

In [19]:
#3 What is the average transaction amount per customer
df.groupby("cust_id")["t_amt"].mean()

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [ ]:
#4 What is the trend of total sales over months?
df["t_date"] = pd.to_datetime(df["t_date"], format="%m-%d-%Y")
df.groupby(df["t_date"].dt.month_name())["t_amt"].sum()

t_date
April        420695.24
August       434255.01
December     421490.73
February     395262.37
January      438165.76
July         439560.80
June         421074.55
March        444664.24
May          432627.58
November     408846.35
October      424856.28
September    429321.63
Name: t_amt, dtype: float64

In [21]:
#5 What is the highest single transaction amount recorded?
df["t_amt"].max()

200.0

In [ ]:
#6 Which service category contributes the most to total revenue
df.groupby("services")["t_amt"].sum().idxmax()

'Outdoor Recreation'

In [ ]:
#7 Which product generated the highest revenue
df.groupby('products_used')['t_amt'].sum().idxmax()

'Yoga & Pilates'

In [9]:
# 8.How does the average transaction amount vary between services
df.groupby('services')['t_amt'].mean()

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

In [ ]:
#9.How many unique customers made purchases
df['cust_id'].nunique()

9926

In [11]:
#10.Which customers have spent the most overall
df.groupby('cust_id')['t_amt'].sum().sort_values(ascending=False)

cust_id
4009485    1973.30
4006425    1732.09
4000221    1671.47
4003228    1640.63
4006606    1628.94
            ...
4000590       8.46
4002513       6.92
4005196       6.66
4000960       5.70
4007577       5.63
Name: t_amt, Length: 9926, dtype: float64

In [ ]:
#11.What is the average number of transactions per customer
df.groupby('cust_id').size().mean()

np.float64(5.037275841225066)

In [13]:
#12.Are there customers who made multiple purchases in different categories
df.groupby('cust_id')['services'].nunique()

cust_id
4000000    4
4000001    8
4000002    2
4000003    3
4000004    3
          ..
4009995    4
4009996    6
4009997    4
4009998    4
4009999    5
Name: services, Length: 9926, dtype: int64

In [ ]:
#13.What percentage of customers are repeat buyers
repeat = df.groupby('cust_id').size()
(repeat > 1).mean() * 100

np.float64(96.5645778762845)

In [17]:
#14.Which product category has the highest total sales
df.groupby('products_used')['t_amt'].sum().idxmax()

'Yoga & Pilates'

In [ ]:
#15.Which services are most popular by transaction count
df['services'].value_counts().idxmax()

'Outdoor Recreation'

In [ ]:
#16.For each service, which product type is purchased most frequently
df.groupby(['services','products_used']).size().groupby(level=0).idxmax()

services
Air Sports                                        (Air Sports, Parachutes)
Combat Sports                                      (Combat Sports, Boxing)
Dancing                                             (Dancing, Ballet Bars)
Exercise & Fitness        (Exercise & Fitness, Cardio Machine Accessories)
Games                                                     (Games, Mahjong)
Gymnastics                                     (Gymnastics, Balance Beams)
Indoor Games                                      (Indoor Games, Foosball)
Jumping                                             (Jumping, Trampolines)
Outdoor Play Equipment                (Outdoor Play Equipment, Swing Sets)
Outdoor Recreation                        (Outdoor Recreation, Lawn Games)
Puzzles                                          (Puzzles, Jigsaw Puzzles)
Racquet Sports                                 (Racquet Sports, Badminton)
Team Sports                                          (Team Sports, Hockey)
Water Sports                                  (Water Sports, Bodyboarding)
Winter Sports                        (Winter Sports, Cross-Country Skiing)
dtype: object

In [ ]:
#17.What is the average transaction amount per product type
df.groupby('products_used')['t_amt'].mean()

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

In [ ]:
#18.Are there specific services where customers spend significantly more
df.groupby('services')['t_amt'].mean().sort_values(ascending=False)

services
Exercise & Fitness        103.660247
Racquet Sports            103.647461
Air Sports                103.455104
Indoor Games              103.074684
Dancing                   102.907512
Team Sports               102.738998
Gymnastics                102.385901
Games                     102.272968
Jumping                   102.155171
Water Sports              101.899975
Outdoor Play Equipment    101.281196
Winter Sports             101.217718
Combat Sports             101.061761
Outdoor Recreation        100.999480
Puzzles                   100.595997
Name: t_amt, dtype: float64

In [ ]:
#19.Which state has the highest total sales
df.groupby('state')['t_amt'].sum().idxmax()

'California'

In [28]:
#20.Which city records the highest number of transactions
df['city'].value_counts().idxmax()

'Pasadena'

In [ ]:
#21.What is the average spending per transaction in each state
df.groupby('state')['t_amt'].mean()

state
Alabama                 102.487049
Arizona                 102.172241
California              102.652182
Colorado                101.537415
Connecticut              99.982108
District of Columbia    103.800334
Florida                 103.136567
Georgia                 102.330675
Hawaii                  101.536667
Idaho                    98.969538
Illinois                100.166315
Indiana                 100.712664
Iowa                    103.100727
Kansas                  101.436926
Kentucky                104.130392
Louisiana               103.466335
Maryland                100.506913
Massachusetts           104.541571
Michigan                101.547777
Minnesota               103.465157
Mississippi             101.214926
Missouri                100.969040
Nebraska                101.955690
Nevada                  105.434718
New Jersey              103.438005
New York                100.259452
North Carolina          103.033172
Ohio                    101.350817
Oklahoma                104.995771
Oregon                  102.438143
Pennsylvania            102.776034
South Carolina          103.540065
Tennessee                99.265804
Texas                   101.379891
Utah                    104.507560
Virginia                104.976206
Washington              101.401603
Wisconsin               101.953159
Name: t_amt, dtype: float64

In [ ]:
#22.Are certain services more popular in specific states
df.groupby(['state','services']).size().groupby(level=0).idxmax()

state
Alabama                              (Alabama, Outdoor Recreation)
Arizona                              (Arizona, Outdoor Recreation)
California                        (California, Outdoor Recreation)
Colorado                            (Colorado, Outdoor Recreation)
Connecticut                      (Connecticut, Outdoor Recreation)
District of Columbia    (District of Columbia, Exercise & Fitness)
Florida                              (Florida, Outdoor Recreation)
Georgia                              (Georgia, Outdoor Recreation)
Hawaii                                (Hawaii, Outdoor Recreation)
Idaho                                  (Idaho, Outdoor Recreation)
Illinois                            (Illinois, Outdoor Recreation)
Indiana                              (Indiana, Outdoor Recreation)
Iowa                                    (Iowa, Outdoor Recreation)
Kansas                                (Kansas, Outdoor Recreation)
Kentucky                            (Kentucky, Outdoor Recreation)
Louisiana                          (Louisiana, Outdoor Recreation)
Maryland                            (Maryland, Outdoor Recreation)
Massachusetts                  (Massachusetts, Outdoor Recreation)
Michigan                            (Michigan, Outdoor Recreation)
Minnesota                          (Minnesota, Outdoor Recreation)
Mississippi                      (Mississippi, Outdoor Recreation)
Missouri                            (Missouri, Outdoor Recreation)
Nebraska                            (Nebraska, Outdoor Recreation)
Nevada                                (Nevada, Exercise & Fitness)
New Jersey                        (New Jersey, Outdoor Recreation)
New York                            (New York, Exercise & Fitness)
North Carolina                (North Carolina, Outdoor Recreation)
Ohio                                    (Ohio, Outdoor Recreation)
Oklahoma                            (Oklahoma, Outdoor Recreation)
Oregon                                (Oregon, Outdoor Recreation)
Pennsylvania                    (Pennsylvania, Outdoor Recreation)
South Carolina                (South Carolina, Outdoor Recreation)
Tennessee                          (Tennessee, Outdoor Recreation)
Texas                                  (Texas, Outdoor Recreation)
Utah                                    (Utah, Exercise & Fitness)
Virginia                            (Virginia, Exercise & Fitness)
Washington                        (Washington, Exercise & Fitness)
Wisconsin                          (Wisconsin, Outdoor Recreation)
dtype: object

In [ ]:
#23.Which states buy the most Outdoor Recreation products
df[df['services'] == 'Outdoor Recreation'] \
  .groupby('state')['t_amt'].sum().idxmax()

'California'

In [33]:
#24.Compare average spending between California and Texas customers
df[df['state'] == 'California']['t_amt'].mean()
df[df['state'] == 'Texas']['t_amt'].mean()

np.float64(101.37989136542423)

In [ ]:
#25.Which quarter of the year saw the highest sales
df['t_date'] = pd.to_datetime(df['t_date'])
df['Quarter'] = df['t_date'].dt.to_period('Q')
df.groupby('Quarter')['t_amt'].sum().idxmax()

Period('2015Q3', 'Q-DEC')

In [ ]:
#26.How does total sales vary month by month
df['Month'] = df['t_date'].dt.to_period('M')
df.groupby('Month')['t_amt'].sum()

Month
2015-01    438165.76
2015-02    395262.37
2015-03    444664.24
2015-04    420695.24
2015-05    432627.58
2015-06    421074.55
2015-07    439560.80
2015-08    434255.01
2015-09    429321.63
2015-10    424856.28
2015-11    408846.35
2015-12    421490.73
Freq: M, Name: t_amt, dtype: float64

In [ ]:
#27.What is the total number of transactions per month
df.groupby('Month').size()

Month
2015-01    4268
2015-02    3834
2015-03    4360
2015-04    4175
2015-05    4205
2015-06    4171
2015-07    4252
2015-08    4250
2015-09    4160
2015-10    4181
2015-11    3994
2015-12    4150
Freq: M, dtype: int64

In [ ]:
#28.Is there a particular season when sports equipment sales spike
df[df['services'] == 'Outdoor Recreation'] \
  .groupby('Month')['t_amt'].sum()

Month
2015-01    71477.05
2015-02    67789.52
2015-03    73573.64
2015-04    70476.11
2015-05    71344.42
2015-06    70348.35
2015-07    73043.80
2015-08    69805.33
2015-09    68657.20
2015-10    73237.22
2015-11    67596.65
2015-12    69329.35
Freq: M, Name: t_amt, dtype: float64

In [ ]:
#29.How many transactions were done using credit
df[df['t_details'].str.contains('Credit', case=False, na=False)].shape[0]

43151

In [47]:
#30.What is the total revenue generated from credit transactions
df[df['t_details'].str.contains('Credit', case=False, na=False)]['t_amt'].sum()

np.float64(4923134.93)

In [ ]:
#31.Is there a difference in average spending between credit and debit customers
df[df['t_details'].str.contains('Credit', case=False, na=False)]['t_amt'].mean()
df[df['t_details'].str.contains('Debit', case=False, na=False)]['t_amt'].mean()

nan

In [ ]:
#32.Which states or cities should the company focus on for marketing high-value products
df.groupby('state')['t_amt'].sum().sort_values(ascending=False)
df.groupby('state')['t_amt'].mean().sort_values(ascending=False)
df.groupby('city')['t_amt'].sum().sort_values(ascending=False)
df.groupby('city')['t_amt'].mean().sort_values(ascending=False)

city
Long Beach     109.308506
Boston         107.975107
Louisville     106.643184
Paterson       106.629200
Irvine         106.517384
                  ...
Hartford        97.622017
Nashville       97.324247
Chattanooga     96.562397
Birmingham      96.319019
Houston         94.959161
Name: t_amt, Length: 108, dtype: float64

In [4]:
#33.Should more inventory be stocked for Exercise & Fitness products given their popularity
df[df['services'] == 'Exercise & Fitness']['t_amt'].sum()
df[df['services'] == 'Exercise & Fitness'].shape[0]
df.groupby('services')['t_amt'].sum().sort_values(ascending=False)
df['services'].value_counts()

services
Outdoor Recreation        8383
Exercise & Fitness        7394
Team Sports               6010
Water Sports              5219
Games                     3666
Gymnastics                3196
Winter Sports             3181
Outdoor Play Equipment    2910
Indoor Games              2799
Jumping                   2015
Combat Sports             1630
Racquet Sports            1611
Air Sports                 960
Puzzles                    612
Dancing                    414
Name: count, dtype: int64

In [9]:
#34.Are there product categories with high sales but low average transaction amounts?
s = df.groupby('services')['t_amt'].agg(['sum','mean']).sort_values(by='sum', ascending=False)
s

                              sum        mean
services
Outdoor Recreation      846678.64  100.999480
Exercise & Fitness      766463.87  103.660247
Team Sports             617461.38  102.738998
Water Sports            531815.97  101.899975
Games                   374932.70  102.272968
Gymnastics              327225.34  102.385901
Winter Sports           321973.56  101.217718
Outdoor Play Equipment  294728.28  101.281196
Indoor Games            288506.04  103.074684
Jumping                 205842.67  102.155171
Racquet Sports          166976.06  103.647461
Combat Sports           164730.67  101.061761
Air Sports               99316.90  103.455104
Puzzles                  61564.75  100.595997
Dancing                  42603.71  102.907512

In [12]:
#35.Are there underperforming service categories that need promotional offers
underperforming = df.groupby('services').agg(total_revenue=('t_amt','sum'),transaction_count=('services','count'),
    avg_spending=('t_amt','mean')).sort_values(by='total_revenue')
underperforming

                        total_revenue  transaction_count  avg_spending
services
Dancing                      42603.71                414    102.907512
Puzzles                      61564.75                612    100.595997
Air Sports                   99316.90                960    103.455104
Combat Sports               164730.67               1630    101.061761
Racquet Sports              166976.06               1611    103.647461
Jumping                     205842.67               2015    102.155171
Indoor Games                288506.04               2799    103.074684
Outdoor Play Equipment      294728.28               2910    101.281196
Winter Sports               321973.56               3181    101.217718
Gymnastics                  327225.34               3196    102.385901
Games                       374932.70               3666    102.272968
Water Sports                531815.97               5219    101.899975
Team Sports                 617461.38               6010    102.738998
Exercise & Fitness          766463.87               7394    103.660247
Outdoor Recreation          846678.64               8383    100.999480